@import '../styles/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;   
}

.contact{
    height: 40rem;
    max-width: 90rem;
    min-width: 30rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    justify-content: space-evenly;
    color: $primary-text;
    backdrop-filter: blur(0.3rem);
    padding: 2rem;
    border-radius: 2.5rem;
    border: 2px solid rgba(245, 245, 245, 0.2);
}

.main_contact{
    height: 20em;
    max-width: 60em;
    min-width: calc(30em - 25px);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding:15px
}

.cardx_main{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    justify-content: space-evenly;
    color: $primary-text;
    text-align: center;
    text-wrap: balance;
    padding: 2rem;
    h4{
        font-size: 1.1rem;
    }
    a{
        color: $primary-1;
        text-decoration: none;
        transition: 0.2s;
    }
    a:hover{
        color: $primary;
    }
}