*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.time_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.4em;
}