*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rules{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;  
}

.rulesbox{
    height: 45rem;
    max-width: 90rem;
    min-width: 30rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    backdrop-filter: blur(0.2rem);
    padding: 2rem;
    border-radius: 2.5rem;
    border: 2px solid rgba(245, 245, 245, 0.2);
}

.link{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(215, 55, 255);
}

.rulesTitle{
    font: normal normal 700 32px monospace;
    translate: 0 -20%;
    padding: 1rem;
}

.mainrules{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 6em;
    overflow: auto;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

.a{
    padding: 0.4em;
    translate: 10%;
}

.mainrules>ol{
    list-style: disc;

}

.text{
    font: normal normal 500 18px Mulish;
    letter-spacing: 0.05em;
    padding: 0.6em;
}

#seven{
    translate: 0 -1em;
}

.text6{
    font: normal normal 500 18px Mulish;
    letter-spacing: 0.05em;
    padding: 0.6em;
}