*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sponsors{
    height: 100vh;
    width: 100%;
    background-color: #111113;
    z-index: -1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;   
}

.main_sponsors{
    height: 40rem;
    max-width: 90rem;
    min-width: 30rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    backdrop-filter: blur(0.2rem);
    padding: 2rem;
    border-radius: 2.5rem;
    border: 2px solid rgba(245, 245, 245, 0.2);
}

.main_sponsors>h1{
    width: 5.5em;
}

.sponsortitle{
    font: normal normal 700 60px monospace;
}